{% extends 'base.html' %}

{% block title %} Daily Route {% endblock %}



{% block content %}
<div class="container" style="text-align: left">

    <table class="table table-striped">
        <thead title="Customers">
          <h1>{{Customer.weekly_pickup_day}}Daily Route List</h1>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Zipcode</th>
              <th>Customer Pickup Day</th>
            <th>Pickup Confirmation</th>
              <th>Google Maps</th>
          </tr>
        </thead>
        <tbody>
        {% for Customer in create_route %}
          <tr>
            <td>{{Customer.name}}</td>
            <td>{{Customer.address}}</td>
            <td>{{Customer.zip_code}}</td>
            <td>{{Customer.weekly_pickup_day}}</td>
            <td><a href="{% url 'employees:confirm' Customer.id %}">Confirm Pickup</a></td>
              <td><a href="{% url 'employees:extract' Customer.address %}">Map it!</a></td>
          </tr>
        {% endfor %}
       </tbody>
    </table>
</div>


{% endblock %}