{% extends 'base.html' %}

{% block title %} Daily Route {% endblock %}

{% block header %} Daily Route {% endblock %}

{% block content %}
  <li><h2>{{Employee.daily_filter}}</h2></li>
  {% if Employee.daily_filter  %}

  <table class="table table-striped">
        <thead title="Customers">
          <p>Daily Route List</p>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Zipcode</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
        {% for Customer in all_customers %}
          <tr>
            <td>{{Customer.name}}</td>
            <td>{{Customer.address}}</td>
            <td>{{Customer.zip_code}}</td>
            <td>{{Customer.balance}}</td>
          </tr>
        {% endfor %}
       </tbody>
      </table>
  {% else %}
    <p>You are at the daily route page. You do not have a daily route today. Please visit the registration page.</p>
  {% endif %}
{% endblock %}