{% extends 'base.html' %}

{% block title %}Full Customer List {% endblock %}
{% block content %}
  {% if user.is_authenticated %}
<div class="container" style="text-align: left">
<H1>Full Customer List</H1>


    <div class="col-md-12">
        <table class="table table-striped">
            <thead title="Customers">

            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>Customer Pickup Day</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            {% for Customer in customer %}
            <tr>
                <td>{{ Customer.name }}</td>
                <td>{{ Customer.address }}</td>
                <td>{{ Customer.zip_code }}</td>
                <td>{{ Customer.weekly_pickup_day }}</td>
                <td>${{ Customer.balance }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}