{% extends 'base.html' %}

{% block title %} Pickup Confirmation {% endblock %}

{% block header %} Pickup Confirmation {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Confirm Pickup for <br>{{charge_customer.address}}:</h2>
            <form action="{% url 'employees:confirm' charge_customer.id %}" method="post">
                {% csrf_token %}
                Confirm Pickup:<br><input type="checkbox" name="balance" id="balance"><br>
                <br>
                <input type="submit" value="Submit Request">
            </form>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
{% endblock %}