{% extends 'base.html' %}

{% block title %} Update Employee Account {% endblock %}



{% block content %}
<div class="container" style="text-align: center">
  <h2>Employee Registration</h2>
  <form action="{% url 'employees:registration' %}" method="post">
    {% csrf_token %}
    Name: <br><input type="text" name="name" id="name"><br><br>
    Route(zipcode): <br><input type="text" name="route" id="route"><br><br>
    <input type="submit" value="Submit your details.">
  </form>
</div>
{% endblock %}