{% extends 'base.html' %}

{% block title %} Route Lookup {% endblock %}

{% block header %} Route Lookup {% endblock %}

{% block content %}
 <li><h2>{{employees.lookup}}</h2></li>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Pickup Request Date:</h2>
            <form action="{% url 'employees:lookup' %}" method="post">
                {% csrf_token %}
                Choose Calendar Date:<br><input type="date" name="select date" id="select date"><br>
                <br>
                <input type="submit" value="Filter for Date">
            </form>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
{% endblock %}