{% extends 'base.html' %}

{% block title %} Route Lookup {% endblock %}

{% block header %} Route Lookup {% endblock %}

{% block content %}
 <li><h2>{{Employee.lookup}}</h2></li>
  {% if Employee.lookup  %}

  <table class="table table-striped">
        <thead title="Customers">
          <p>Route Lookup</p>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Zipcode</th>
          </tr>
        </thead>
        <tbody>
        {% for Customer in all_customers %}
          <tr>
            <td>{{Customer.name}}</td>
            <td>{{Customer.address}}</td>
            <td>{{Customer.zip_code}}</td>
          </tr>
        {% endfor %}
       </tbody>
      </table>
  {% else %}
    <p>You are at the lookup route page. You do not have a route this day. Please try a different day.</p>
  {% endif %}
{% endblock %}