{% extends 'base.html' %}

{% block title %} One Time Pickup Request {% endblock %}



{% block content %}

<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>One Time Pickup</h2>
            <form action="{% url 'customers:onetime_pickup' %}" method="post">
                {% csrf_token %}
                Choose Calendar Date:<br><input type="date" name="onetime_pickup" id="onetime_pickup"><br>
                <br>
                <input type="submit" value="Submit Request">
            </form>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

{% endblock %}