{% extends 'base.html' %}

{% block title %} Suspend Service {% endblock %}



{% block content %}

<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Suspension Dates</h2>
            <form action="{% url 'customers:pickup_suspension' %}" method="post">
                {% csrf_token %}
                Suspension Start Date:<br><input type="date" name="start_suspension" id="start_suspension"><br><br>
                Suspension End Date:<br><input type="date" name="end_suspension" id="end_suspension"><br>
                <br>
                <input type="submit" value="Submit Request">
            </form>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

{% endblock %}