{% extends 'base.html' %}

{% block title %} Update Customer Account {% endblock %}

{% block header %} Update Customer Account {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Enter Your Details Here</h2>
            <form action="{% url 'customers:registration' %}" method="post">
                {% csrf_token %}
                Name:<br><input type="text" name="name" id="name"><br>
                Address:<br><input type="text" name="address" id="address"><br>
                Zipcode:<br><input type="text" name="zip_code" id="zip_code"><br>
                <div class="form-group">
                    <label for="sel1">Garbage pickup day(select one):</label><br>
                    <select class="custom-select custom-select-sm" type="text" name="weekly_pickup_day"
                            id="weekly_pickup_day">
                        <option selected>Pick a Weekday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                    </select>
                </div>

                <br>
                <input type="submit" value="Submit your details">
            </form>
        </div>
    </div>
</div>

{% endblock %}